.hero-img {
  width: 100%;
  height: 400px;
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
  height: 620px;
  background-image: url(../img/hero-tablet.jpg);
  background-size: cover;
}
}

@media screen and (min-width: 1024px) {
  .hero-img {
  background-image: url(../img/hero-desktop.jpg);
  background-size: cover;
}
}