.about-tokyo {
  width: 312px;
}

.section-title {
  font-weight: var(--title-weight);
  font-size: 16px;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin-bottom: 32px;
}

.arrival-container h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.arrival-container p {
  font-size: 20px;
  line-height: 32px;
}

.bank-image {
  background: url(../../img/blog-assets/tokyo-bank-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 360px;
  margin-top: 24px;
}

.city-view {
  background: url(../../img/blog-assets/tokyo-city-view-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.city-view-description {
  font-size: 2px;
}