.tokyo-container {
  text-align: center;
  width: 312px;
}

.tokyo-container h1 {
  font-weight: var(--title-weight);
  font-size: 32px;
}

.tokyo-container hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin-bottom: 32px;
}

.arrival {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 0 24px;
}

.arrival h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.arrival p {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin-bottom: 24px;
}

.arrival .bank-image {
  background: url(../../img/blog-assets/tokyo-bank-mobile.png) no-repeat;
  width: 100%;
  height: 360px;
  background-size: cover;
}

.arrival .city-view {
  background: url(../../img/blog-assets/tokyo-city-view-mobile.png) no-repeat;
  width: 100%;
  height: 360px;
  background-size: cover;
  margin-bottom: 8px;
}

.arrival .city-view span {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 28px;
  margin-top: 8px;
}