.sugestions {
  padding: 0 24px 0 24px;
  margin-top: 88px;
}

.sugestion-card .card-image.osaka-image {
  background: url(../../img/blog-assets/osaka-suggestion-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.sugestion-card .card-image.hiroshima-image {
  background: url(../../img/blog-assets/hiroshima-suggestion-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.sugestion-card .card-image.kyoto-image {
  background: url(../../img/blog-assets/kyoto-suggestion-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.sugestion-card .card-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.sugestion-card .card-content h2 {
  margin: 16px 0 8px 0;
  font-size: 32px;
  font-weight: var(--title-weight);
}

.sugestion-card .card-content p {
  margin: 0;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.sugestion-card .button {
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .sugestions {
  padding: 0 60px;
}

.sugestion-card .card-image.osaka-image {
  background: url(../../img/blog-assets/osaka-suggestion-tablet.png) no-repeat;
  background-size: cover;
}

.sugestion-card .card-image.hiroshima-image {
  background: url(../../img/blog-assets/hiroshima-suggestion-tablet.png) no-repeat;
  background-size: cover;
}

.sugestion-card .card-image.kyoto-image {
  background: url(../../img/blog-assets/kyoto-suggestion-tablet.png) no-repeat;
  background-size: cover;
}

.sugestions .sugestion-card .button {
  width: 50%;
}
}

@media screen and (min-width: 1440px) {
  .sugestions {
  padding: 0 120px;
}

.sugestion-card {
  width: 50%;
}

.sugestions-cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.sugestion-card .card-image.osaka-image {
  background: url(../../img/blog-assets/osaka-suggestion-desk.png) no-repeat;
  background-size: cover;
}

.sugestion-card .card-image.hiroshima-image {
  background: url(../../img/blog-assets/hiroshima-suggestion-desk.png) no-repeat;
  background-size: cover;
}

.sugestion-card .card-image.kyoto-image {
  background: url(../../img/blog-assets/kyoto-suggestion-desk.png) no-repeat;
  background-size: cover;
}


}